.title {
  color: #3e3e3e;
  font-size: 38px;
  font-weight: bold;
}

.login-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: linear-gradient(45deg, skyblue 10%, blue 88%, darkblue 99%);
}

.login-content {
  width: 600px;
  min-height: 300px;
  padding: 30px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: rgba($color: #ffffff, $alpha: .6);
}

.switch-action {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px 0 0 0;
  border: 25px solid #fff;
  color: #e8e8e8;
  border-color: #1890ff transparent transparent #1890ff;
  transition: all .3s;
  cursor: pointer;
  &:hover {
    color: #fff;
  }

  &::after {
    content: attr(data-content);
    display: block;
    width: 30px;
    position: absolute;
    top: -18px;
    left: -24px;
    font-size: 14px;
    text-align: center;
    background: transparent;
    transform: rotate(-50deg);
  }
}

.submit-btn {
  width: 100%;
}
