.wrapper {
  height: 100%;
}

.menu-wrapper {
  height: 100vh;
  width: 260px;
  background: orange;
  float: left;
}

.content {
  padding: 10px 20px;
  overflow: auto;
  background-color: #e8e8e8;
  height: 100%;
}