.test-mobx {
  height: 100vh;
  font-size: 24px;
  color: #fff;
  background-color: orange;
}

.rv-render {
  width: 100%;
  background-color: skyblue;
  border: 2px solid gray;
}

.indexeddb-wrapper {
  margin: 10px;
  padding: 10px;
  border: 2px dashed skyblue;
  border-radius: 4px;
  background: #e8e8e8;
}
